<!DOCTYPE html
	PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Email Verification</title>
</head>

<body
	style="font-family: 'Poppins', Arial, sans-serif; margin: 0; background-color: #F2F4F8; font-weight: 300;padding: 32px 0;">

	<center class="container" style="width: 100%; table-layout: fixed;">
		<table class="main" width="100%" style="margin: 0 auto;max-width: 600px;" border="0" cellspacing="0"
			cellpadding="0">

			<!-- LOGO SECTION -->
			<tr>
				<td style="text-align: center;padding:16px 0 24px">
					<a href="https://valonconsultinggroup.com">
						<img src="https://res.cloudinary.com/ccx/image/upload/v1728320669/logo_ggdfls.png" alt="SBS Logo" title="SBS logo" width="85" height="65">
					</a>
				</td>
			</tr>

			<!-- HEADINGS -->
			<tr>
				<td>
					<p style="font-size: 32px;line-height: 1.2;text-align: center;font-weight: 400;margin: 0 0 67px;">
						Hello
						<b>{{name}}</b>,
						<br />Verify your email to complete your registration.</br>
					</p>
				</td>
			</tr>

			<!-- CONTENT -->
			<tr>
				<td style="text-align: center;background-color: #ffffff;padding: 32px;">
					<p style="color: #5E5E5E;font-size: 18px;line-height: 25.2px;margin-bottom: 58px;">
						For security reasons, please help us by verifying your email address. Verify within {{time}} of first
						signing up to avoid the deactivation of your account.
					</p>
					<a href="http://localhost:3000/email-verification?token={{token}}&email={{email}}" style="text-decoration: none;color: white;background-color: blue;display: block;padding: 16px 0;">
						Verify email address
					</a>
				</td>
			</tr>


			<!-- FOOTER SECTION -->
			<tr>
				<td style="padding-top: 68px">
					<table width="100%">
						<tr>
							<td style="text-align: center; padding-bottom: 14px;">
								<a style="padding: 12px; margin: 0 5px;display: inline-block;" href="#" title="Go to Facebook account">
									<img src="https://res.cloudinary.com/ccx/image/upload/v1728320674/facebook_u2jyv6.png" alt="Facebook logo">
								</a>

								<a style="padding: 12px; margin: 0 5px;display: inline-block;" href="#" title="Go to Instagram account">
									<img src="https://res.cloudinary.com/ccx/image/upload/v1728320662/logo-instagram_gfyrfn.png" alt="Instagram logo">
								</a>
							</td>
						</tr>

						<tr>
							<td style="font-size: 18px;text-align: center; padding-bottom: 14px;">Copyright &copy; 2024</td>
						</tr>
						<tr>
							<td style="font-weight: bold;font-size: 18px;text-align: center; padding-bottom: 14px;">SBS VOLLEYBALL
							</td>
						</tr>
						<tr>
							<td style="text-align: center;font-size: 18px;">Trust The Process</td>
						</tr>
					</table>
				</td>
			</tr>
		</table>
	</center>

</body>

</html>